<nav class="vz-tabs" aria-label="Viewer" data-atomurus-local-nav="viewer">
  <a class="vz-tab" href="/viewer/atomic-models.html" data-local-nav="atomic-models">
    <span class="vz-num">01</span>
    <span data-i18n="common.nav.atomicModels">Atomic Models</span>
  </a>
  <a class="vz-tab" href="/viewer/molecules.html" data-local-nav="molecules">
    <span class="vz-num">02</span>
    <span data-i18n="common.nav.molecules">Molecules</span>
  </a>
  <a class="vz-tab" href="/viewer/allotropes.html" data-local-nav="allotropes">
    <span class="vz-num">03</span>
    <span data-i18n="common.nav.allotropes">Allotropes</span>
  </a>
  <a class="vz-tab" href="/viewer/isomerism.html" data-local-nav="isomerism">
    <span class="vz-num">04</span>
    <span data-i18n="common.nav.isomerism">Isomerism</span>
  </a>
</nav>
